<!DOCTYPE html> 
<html> 
	<head> 
	<title>Bus Locator</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.js"></script>
	
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <%= javascript_include_tag "jquery.xdomainajax" %>
	
<script type="text/javascript">
    $(document).ready(function () {
        //Wire up search button click event handler
        $("#buttonSearch").click(function () {
            //Get the destination from the text input and URL encode it
            var destination = encodeURI($('#textDestination').val());
            //Create URL for google maps that will find the best route
            var url = "http://maps.google.com/maps?saddr=" + localStorage.getItem("latitude") + "," + localStorage.getItem("longitude") + "&daddr=" + destination + "&dirflg=r";

            //Use jQuery to get an HTML document from google maps using the URL
            $.get(url, function (data) {
                //Create a jQuery object using the response text
                var googleDoc = $(data.responseText);
                //Find the route number from the document
                ///In order to do this, look for an html element that has the transit line style and get the inner HTML
                var routeNumber = googleDoc.find('.trtline-name').html();
                localStorage.setItem("routeNumber", routeNumber);

                var busStop = googleDoc.find('.location').html();
                localStorage.setItem('busStop', busStop);

                var busFinalDestinationContainer = googleDoc.find('.dir-ts-direction');
                var busElement = busFinalDestinationContainer.find("span:contains('Bus')");
                var busEndAddress = busElement.siblings("p").find("span").html();
                localStorage.setItem('busEndAddress', busEndAddress);

                //Redirect to buses and pass the route
                window.location = '/buses?route_id=' + routeNumber;
            });
        });

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success, error);
        } else {
            error('Geolocation not supported');
        }
        //});
    });

        function success(position) {
            localStorage.setItem("latitude", position.coords.latitude);
            localStorage.setItem("longitude", position.coords.longitude);

          var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
          var myOptions = {
            zoom: 15,
            center: latlng,
            mapTypeControl: false,
            navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
            mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          var mapcanvas = $('#mapcanvas');
          var map = new google.maps.Map(mapcanvas[0], myOptions);
          var marker = new google.maps.Marker({
              position: latlng, 
              map: map, 
              title:"I am here!"
          });
        }
        

        function error(msg) {
          var errMsg = typeof msg == 'string' ? msg : "Geolocation failed";
          $('#msg').html(errMsg);
        }

    </script>

</head>
<body>
    <div data-role="page">
        <div data-role="header">
            <h3>Bus Trip Planner</h3>
        </div>
        <div data-role="content">


            <form>
                Where would you like to go?
                <input id="textDestination" type="text" value=""/>
                <input id="buttonSearch" type="button" 
                    value="search" />
            </form>

            <div id="msg"></div>
            <div id="mapcanvas" style="height: 200px; width: 200px;"></div>
        </div>
    </div>
</body>
</html>